<a routerLink="/channels/add">Creer un channel</a>

<div class="button text-center">
  <button class="btn btn-lg btn-primary"><a routerLink="/channels/add">Nouveau channel</a></button>
</div>

<div class="row">
  <div *ngFor="let channel of channels" class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{channel.name}}</h5>
        <p class="card-text">Un magnifique channel  </p>
        <a routerLink="/channels/{{channel.id}}/edit" class="btn btn-warning">Modifier le nom du channel</a>
        <a routerLink="/channels/{{channel.id}}/delete" class="btn btn-warning">Supprimer le channel</a>
      </div>
    </div>
  </div>
</div>

<div class="button text-center">
  <button type="submit" class="btn btn-accueil">
    <a routerLink="/">Retour à l'accueil</a>
  </button>
</div>


