<div class="container">
  <div class="button text-center">
    <button class="btn btn-lg btn-primary">
      <a routerLink="/messages/add">Nouveau message</a>
    </button>
  </div>

  <div class="row">
    <div *ngFor="let message of messages" class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ message.user.username }}</h5>
          <p class="card-text">{{ message.content }}</p>
          <p class="card-text">Channel : {{ message.channel.name }}</p>
          <p class="font-weight-light">le {{message.lastUpdate | date:'dd MMMM YYYY à HH:mm'}}</p>
          <a class="btn btn-warning" routerLink="/messages/{{ message.id }}/delete">Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
