<a routerLink="/users/add">Créé un utilisateur</a>

<div class="button text-center">
  <button class="btn btn-lg btn-primary"><a routerLink="/users/add">Nouvel utilisateur</a></button>
</div>

<div class="row">
  <div *ngFor="let user of users" class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        <p class="card-text">Une super personne </p>
        <a href="#" class="btn btn-warning">Voir nos messages</a>
      </div>
    </div>
  </div>
</div>

<div class="button text-center">
  <button type="submit" class="btn btn-accueil">
    <a routerLink="/">Retour à l'accueil</a>
  </button>
</div>


