<main class="main">


  <!-- Main Area -->
  <div class="display-area p-3">
    <h2>Bienvenue dans le canal <span>{{ channel.name }}</span></h2>
    <div class="container-message">
      <div *ngFor="let message of messages" class="card">
        <h5 class="card-header">
          {{ message.user.username }} <span>le {{ message.lastUpdate | date:'short' }}</span>
        </h5>
        <div class="card-body">
          <p class="card-text">
            {{ message.content }}
          </p>
          <a
            routerLink="/messages/{{ message.id }}/delete"
            ><i class="fas fa-trash"></i></a
          >
        </div>
      </div>
    </div>
    <div class="container-sendingmessage">
      <form>
        <div class="row">
          <div class="form-group col-lg-4">
            <label for="exampleFormControlSelect1">Select User</label>
            <select  class="form-control" id="exampleFormControlSelect1">
              <option *ngFor="let user of users">{{ user.username }}</option>
            </select>
          </div>

          <div class="form-group col-lg-4">
            <label for="exampleFormControlSelect1">Channel</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option value="{{channel.id}}">{{ channel.name }}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>

        <div class="col-auto my-1">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</main>
