<!-- SideBar -->
<main class="main">


  <!-- Main Area -->
  <div class="display-area p-3">
    <div class="container-message">
      <div *ngFor="let message of messages" class="card">
        <h5 class="card-header">
          {{ message.user.username }} <span>le {{ message.lastUpdate | date : "dd MMMM YYYY à HH:mm" }}</span>
        </h5>
        <div class="card-body">
          <p class="card-text">
            {{ message.content }}
          </p>
          <a
            routerLink="/messages/{{ message.id }}/delete"
            class="btn btn-primary"
            >Supprimer Message</a
          >
        </div>
      </div>
    </div>
    <div class="container-sendingmessage text-center">
      <!-- user -->
      <div class="form-group">
        <label for="user">Membre</label>
        <select
          class="form-control"
          id="user"

        >
          <option  value="Pierre">
            Pierre
          </option>
        </select>
      </div>

      <!-- channel -->
      <div class="form-group">
        <label for="channel">Channel</label>
        <select
          class="form-control"
          id="channel"
        >
          <option value="general">general</option>
        </select>
      </div>

      <!-- content -->
      <div class="form-group">
        <label for="content"></label>
        <input
          type="text"
          class="form-control"
          id="content"
          placeholder="Votre message"
        />
      </div>

      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</main>
