<!-- side bar -->
<input type="checkbox" name="check" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
</label>

<div class="side-nav-content">
  <p class="text-center">Channels</p>
  <ul class="nav-list">
    <li *ngFor="let channel of channels" class="nav-list-item">
      <i class="fas fa-hashtag"></i>
      <a class="nav-a" routerLink="/channels/{{channel.id}}">{{ channel.name.toLowerCase() }}</a>
    </li>
  </ul>

  <div class="container-channel text-center">
    <button type="button" class="btn btn-side">
      <a routerLink="/channels">Nos channels</a>
    </button>
    <button type="button" class="btn btn-side">
      <a routerLink="/channels/add">Nouveau channel</a>
    </button>
    <p class="text-center">Utilisateurs</p>
    <button type="button" class="btn btn-side">
      <a routerLink="/users">Membres du Slacke</a>
    </button>
    <button type="button" class="btn btn-side">
      <a routerLink="/users/add">Nouvel Utilisateur</a>
    </button>
    <p class="text-center">Messages</p>
    <button type="button" class="btn btn-side">
      <a routerLink="/messages">Tous les messages</a>
    </button>
  </div>
</div>
