<div class="container-user">
  <h2>Créé un nouvel utilisateur</h2>

  <div class="addcomponent">
    <!-- title -->
    <div class="form-group">
      <label for="username">Pseudo</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Votre pseudo"
        [formControl]="form.controls.username"
      />
    </div>

    <!-- submit -->
    <div class="button text-center">
      <button type="submit" class="btn btn-primary" (click)="submitUser()">
        Let's go
      </button>
    </div>
  </div>

  <div class="button text-center">
    <button type="submit" class="btn btn-accueil">
      <a routerLink="/">Retour à l'accueil</a>
    </button>
  </div>
</div>
